.historias-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 2.5rem; 
  }
  
  .slide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .slide h3{
    font-family: 'Passion One', regular;
    font-size: 28px;
    color: #C50011;
    padding: 3px;
    text-align: left;
  }
  .slide p{
    font-family: 'Inter', regular;
    font-size: 22px;
    text-align: justify;
    color: #C50011;
    max-width: 600px;
    text-align: left;
    
  }
  .slide img {
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 1rem;
  }
  
  .seta {
    font-size: 50px;
    background: none;
    border: none;
    color: #a10014;
    cursor: pointer;
    margin: 30px;
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .pontos {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  .pontos span {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
  }
  
  .pontos span.ativo {
    background-color: #a10014;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .quem-somos-intro {
      flex-direction: column;
    }
  
    .slide {
      flex-direction: column;
    }
  
    .slide img {
      width: 100%;
      max-width: 250px;
    }
  
    .slide .texto {
      text-align: center;
    }
  }
  