.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hwb(0 99% 1%);
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 
}

.navbar-logo {
  height: 80px;
  object-fit: contain;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #a60000;
}

#Doe {
  background-color: #c40000;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

#Doe:hover {
  background-color: #a60000;
}
